# Server
PORT=3000

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=my_bento_budget
DATABASE_URL=postgresql://postgres:changeme@postgres:5432/my_bento_budget

# Auth
JWT_SECRET=changeme